/* line 3, ../sass/_mixins.scss */
.navigation:before, .navigation:after {
  content: " ";
  display: table;
}
/* line 7, ../sass/_mixins.scss */
.navigation:after {
  clear: both;
}

@font-face {
  font-family: 'Clear Sans';
  src: url("../fonts/ClearSans-Medium-webfont.eot");
  src: url("../fonts/ClearSans-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ClearSans-Medium-webfont.woff") format("woff"), url("../fonts/ClearSans-Medium-webfont.ttf") format("truetype"), url("../fonts/ClearSans-Medium-webfont.svg#clear_sans_mediumregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Clear Sans';
  src: url("../fonts/ClearSans-Light.eot");
  src: url("../fonts/ClearSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ClearSans-Light.woff") format("woff"), url("../fonts/ClearSans-Light.ttf") format("truetype"), url("../fonts/ClearSans-Light.svg#clear_sans_mediumregular") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Clear Sans';
  src: url("ClearSans-Italic-webfont.eot");
  src: url("ClearSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("ClearSans-Italic-webfont.woff") format("woff"), url("ClearSans-Italic-webfont.ttf") format("truetype"), url("ClearSans-Italic-webfont.svg#clear_sansitalic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Indebted';
  src: url("../fonts/indebted.eot");
  src: url("../fonts/indebted.eot?#iefix") format("embedded-opentype"), url("../fonts/indebted.woff") format("woff"), url("../fonts/indebted.ttf") format("truetype"), url("../fonts/indebted.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 17, ../sass/screen.scss */
html {
  margin: 0;
  padding: 0;
}

/* line 22, ../sass/screen.scss */
body {
  margin: 0;
  padding: 0;
  font: 300 16px/24px "Clear Sans", "Helvetica", "Arial", sans-serif;
  letter-spacing: 1px;
  color: #333333;
  background-color: #f9f6f3;
}

/* line 31, ../sass/screen.scss */
h1, h2, h3, h4 {
  font-family: "Clear Sans", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
}

/* line 36, ../sass/screen.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 42, ../sass/screen.scss */
.container {
  width: 100%;
  max-width: 48em;
  margin: 0 auto;
}

/* line 48, ../sass/screen.scss */
.block {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4em 1em;
}

/* line 54, ../sass/screen.scss */
.btn {
  display: inline-block;
  padding: .75em 1em;
  background-color: transparent;
  color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid white;
  text-decoration: none;
  font-family: "Clear Sans", "Helvetica", "Arial", sans-serif;
  font-size: 0.75em;
  cursor: pointer;
  -webkit-transition: background-color 75ms linear, color 75ms linear;
  -moz-transition: background-color 75ms linear, color 75ms linear;
  -o-transition: background-color 75ms linear, color 75ms linear;
  transition: background-color 75ms linear, color 75ms linear;
}
/* line 66, ../sass/screen.scss */
.btn:hover {
  background-color: white;
  color: #55a33b;
}
/* line 70, ../sass/screen.scss */
.btn.red {
  border: 1px solid #cb4400;
  color: #cb4400;
}
/* line 73, ../sass/screen.scss */
.btn.red:hover {
  background-color: #cb4400;
  color: white;
}

/* line 81, ../sass/screen.scss */
.banner {
  padding: 4em 0;
  color: white;
  background-color: green;
}

/* line 87, ../sass/screen.scss */
.banner-copy {
  text-align: center;
}

/* line 91, ../sass/screen.scss */
.navigation {
  margin-bottom: 3em;
}
/* line 94, ../sass/screen.scss */
.navigation a {
  color: white;
  text-decoration: none;
  padding-bottom: .25em;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
/* line 100, ../sass/screen.scss */
.navigation a:hover {
  border-bottom: 2px solid white;
}

/* line 106, ../sass/screen.scss */
.navigation-title {
  float: left;
  font-size: 16px;
  font-weight: 300;
}

/* line 112, ../sass/screen.scss */
.navigation-list {
  float: right;
}
/* line 114, ../sass/screen.scss */
.navigation-list li {
  display: inline;
  padding-left: 2em;
}

/* line 122, ../sass/screen.scss */
footer {
  padding: 4em;
  background-color: #333333;
  color: white;
}
/* line 126, ../sass/screen.scss */
footer li {
  list-style-type: none;
  margin-bottom: 1em;
}
/* line 130, ../sass/screen.scss */
footer a {
  color: white;
  text-decoration: none;
  padding-bottom: .25em;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
/* line 136, ../sass/screen.scss */
footer a:hover {
  border-bottom: 2px solid white;
}
