@import "compass";
@import "mixins";
@import "typefaces";

// Colors - - - - - - - - - - - - - - - -
$red:                             #CB4400;
$light-red:                       #ED7264;
$green:                           #55A33B;
$lightgreen:                      #98CC82;
$dark-gray:                       #333333;
$light-gray:                      #afafaf;
$lightest-gray:                   #efefef;
$white:                           #ffffff;
$cream:                           #f9f6f3;

// Ratios - - - - - - - - - - - - - - - -

$main-ratio: 1/1.6*100%;
$reciprocal-ratio: 100%-$main-ratio;

// Resets - - - - - - - - - - - - - - - -
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font: 300 18px/26px $ClearSans;
  letter-spacing: 1px;
  color: $dark-gray;
  background-color: $cream;
}

h1, h2, h3, h4 {
  font-family: $ClearSans;
  font-weight: 300;
}

h1 {
  font-size: 1.875rem;
}

ul {
  margin: 0;
  padding: 0;
  font: 300 18px/24px $ClearSans;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

// Global - - - - - - - - - - - - - - - -
.container {
  width: 100%;
  max-width: 48em;
  margin: 0 auto;
}

.block {
  width: 100%;
  @include box-sizing(border-box);
  padding: 4em 1em;
}

.btn {
  display: inline-block;
  min-width: 4rem;
  padding: .75em 1em;
  background-color: transparent;
  color: $white;
  @include border-radius(3px);
  border: 1px solid $white;
  text-decoration: none;
  text-align: center;
  font-family: $ClearSans;
  font-size: 0.75em;
  cursor: pointer;
  @include transition(background-color 75ms linear, color 75ms linear);
  &:hover {
    background-color: $white;
    color: $green;
  }
  &.red {
    border: 1px solid $red;
    color: $red;
    &:hover {
      background-color: $red;
      color: $white;
    }
  }
  &.clear-red {
    border: 1px solid $white;
    color: $white;
    &:hover {
      background-color: $white;
      color: $red;
    }
  }
}

// Top Banner - - - - - - - - - - - - - - - -
.banner {
  padding: 2em 0;
  color: $white;
  background-color: $green;
}

.banner-copy {
  margin: 3em 0 2em;
  text-align: center;
}

.navigation {
  @extend %clearfix;
  a {
    color: $white;
    text-decoration: none;
    padding-bottom: .25em;
    border-bottom: 2px solid transparent;
    @include transition(all 200ms linear);
    &:hover, &.current {
      border-bottom: 2px solid $white;
    }
  }
}

.navigation-list {
  text-align: center;
  li {
    display: inline;
    padding-left: 2em;
  }
}

li.navigation-title {
  padding-left: 0;
  padding-right: 1.5em;
  border-right: 2px solid $white;
}

li.navigation-end {
  margin-left: 1.5em;
  padding-left: 1.5em;
  padding-right: 0;
  border-left: 2px solid $white;
}

.logo {
  width: 1/2.33*100%;
  margin: auto;
  margin-bottom: 32px;
}

// Main - - - - - - - - - - - - - - - - -
%content {
  @include box-sizing(border-box);
  width: $main-ratio;
  padding: 1rem;
}

.content-left {
 @extend %content;
 float: left;
}

.content-right {
 @extend %content;
 float: right;
}

%illustration {
  @include box-sizing(border-box);
  width: $reciprocal-ratio;
  text-align: center;
}

.illustration-left {
 @extend %illustration;
 float: left;
}

.illustration-right {
 @extend %illustration;
 float: right;
}

.block {
  @extend %clearfix;
}

.light-gray {
  background-color: $lightest-gray;
}

.light-red {
  background-color: $light-red;
}

// API Ref  - - - - - - - - - - - - - - -
.api-reference {
  margin: 4em 0;
}

// Footer - - - - - - - - - - - - - - - -
footer {
  padding: 4em;
  background-color: $dark-gray;
  color: $white;

  .footer-title {
    padding-right: 0;
    padding-left: 2em;
    border-left: 2px solid $white;
  }

  a {
    color: white;
    text-decoration: none;
    padding-bottom: .25em;
    border-bottom: 2px solid transparent;
    @include transition(all 200ms linear);
    &:hover {
      border-bottom: 2px solid $white;
    }
  }
}

